<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{.Title}}</title>
    <meta name="description" content="govanity">
    <meta name="author" content="michaelpeterswa">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200&display=swap" rel="stylesheet">
    <link href="static/styles.css" rel="stylesheet">
  </head>

  <body class="font">
    <section class="section">
      <div class="container pb-4">
        <h1 class="title has-text-primary is-2">
          {{.Title}}
        </h1>
        <p class="subtitle has-text-grey-light is-6">
          built with govanity
        </p>
      </div>
      <div class="container pt-4">
        {{range .Repos}}
        <div class="pb-2">
          <a class="has-text-link" href="{{.GoVanityLink}}">{{.FullName}}</a>
        </div>
        {{end}}
      </div>
	  </section>
  </body>
</html>