<!doctype html>

<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{.Title}}</title>
    <meta name="description" content="govanity">
    <meta name="author" content="michaelpeterswa">

    <meta name="go-import" content="{{.GoImport}}">
    <meta name="go-source" content="{{.GoSource}}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200&display=swap" rel="stylesheet">
  </head>

  <body>
    <section class="section">
      <div class="container">
        <h1 class="title">
          {{.Name}}
        </h1>
        <p class="subtitle">
          {{.Description}}
        </p>
      </div>
	  </section>
  </body>
</html>