<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{.Repo.Name}}</title>
    <meta name="description" content="govanity">
    <meta name="author" content="michaelpeterswa">

    <meta name="go-import" content="{{.GoImport}}">
    <meta name="go-source" content="{{.GoSource}}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200&display=swap" rel="stylesheet">
    <link href="static/styles.css" rel="stylesheet">
  </head>

  <body>
    <section class="section font">
      <div class="container">
        <h1 class="title has-text-primary">
          {{.Repo.Name}}
        </h1>
        <p class="subtitle has-text-grey-light is-6">
          by {{.Repo.Owner.Login}}
        </p>
        <p class="subtitle has-text-grey is-5">
          {{.Repo.License.Name}}
        </p>
        <p class="has-text-grey pb-4">
          {{.Repo.Description}}
        </p>
        <code>
          {{.Repo.GoVanityLink}}
        </code>
      </div>
	  </section>
  </body>
</html>